@import 'compass/reset';
@import 'compass/css3';
@import 'compass/utilities';
@import 'compass/typography/text/replacement';
@import 'animation';
@import 'mixins';

$default-transition-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$default-transition-duration: 250ms;

// Grid

$num-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$body-pad: $gutter-width * 2;
$max-column-width: ($column-width * $num-columns) + ($gutter-width * ($num-columns - 1));
$respond-cutoff: $max-column-width + ($body-pad * 2);

@include generate-grid($num-columns, $column-width, $gutter-width);

// Colors

$blue: #25aae1;
$yellow: #fcb040;
$lightest-grey: #e9e9e9;
$light-grey: #d7d7d7;
$grey: #666;
$dark-grey: #333;

// Fonts

// http://www.google.com/webfonts#UsePlace:use

$open-sans: 'Open Sans', Arial, sans-serif;
$open-sans-condensed: 'Open Sans Condensed', Arial, sans-serif;