@import 'base';

/*
----------------------------------------------------
HTML
----------------------------------------------------
*/

body {
    background-color: #fff;
    color: $grey;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
}

a {
    @include single-transition(color);
    color: $grey;
    text-decoration: none;
    
    &:hover {
        color: $blue;
    }
}

/*
----------------------------------------------------
GLOBAL
----------------------------------------------------
*/

.clearfix {
    @include pie-clearfix;
}

em.am { color: $yellow; }
em.pm { color: $blue; }

/*
----------------------------------------------------
HEADER
----------------------------------------------------
*/

.logo-row {
    @extend .clearfix;
    position: relative;
    
    .logo,
    .logo-mini {
        margin: 0 auto;
    }
    
    .next-event,
    .twitter {
        position: absolute;
        font-style: italic;
        margin-top: -0.5em;
        top: 50%;
    }
    
    .next-event {
        left: 0;
        em {
            font-weight: bold;
        }
    }
    
    .twitter {
        right: 0;
    }
}

.logo {
    @include replace-text-with-dimensions('global/logo.png');
}

.logo-mini {
    @include replace-text-with-dimensions('global/logo-mini.png');
}

header.global {
    @extend .clearfix;
    padding: 40px 0;
    
    .logo-row {
        margin-bottom: 56px;
        
        em {
            display: block;
        }
    }
}

.intro {
    @extend .clearfix;
    text-align: center;
    
    h2 {
        font-size: 2.85em;
        line-height: 1.4em;
        font-family: $open-sans-condensed;
    }
    
    h3.am,
    h3.pm {
        // 218 x 215
        @extend .span3;
        @include border-radius(3px);
        background-position: 50% 40px;
        background-repeat: no-repeat;
        border: 1px solid $lightest-grey;
        font-size: 1.5em;
        font-weight: bold;
        height: 80px;
        margin-bottom: 0.85em;
        margin-top: 15px;
        padding: 116px 34px 20px;
        width: 150px;
        
        small {
            display: block;
            font-size: 12px;
            font-weight: normal;
            padding-top: 0.8em;
        }
    }
    
    h3.am {
        background-image: url('/images/global/logo-am.png');
        float: left;
        margin-right: $gutter-width * 2;
    }
    
    h3.pm {
        background-image: url('/images/global/logo-pm.png');
        float: right;
        margin-left: $gutter-width * 2;
    }
    
    @include respond-below($max-column-width) {
        h3.am,
        h3.pm {
            display: none;
        }
    }
}

/*
----------------------------------------------------
TIMELINE
----------------------------------------------------
*/

.timeline {
    @extend .clearfix;
    background: url('/images/background/crosshatch.gif') 50% 50% repeat;
    border-bottom: 1px solid $light-grey;
    border-top: 1px solid $light-grey;
    padding: 55px 0;
    
    > .inner-wrapper {
        @extend .clearfix;
        margin-left: 50%;
        
        > .inner {
            margin-left: -1 * ($max-column-width / 2);
        }
    }
    
    // Event/latest headers
    
    .event time,
    .latest h3,
    .latest h4 {
        display: block;
        font-family: $open-sans-condensed;
        line-height: 1.4em;
    }
    
    .event time.relative,
    .latest h3 {
        font-size: 1.85em;
        font-style: italic;
    }
    
    .event time.date,
    .latest h4 {
        font-size: 2em;
        margin-bottom: 1.1em;
    }
    
    // Event
    
    .event {
        @extend .clearfix;
        
        & + .event {
            margin-top: 50px;
        }
        
        header {
            background-position: 165px 2px;
            background-repeat: no-repeat;
            margin-bottom: 50px;
            
            .countdown {
                @extend .clearfix;
                
                h5 {
                    float: right;
                }
                
                .bar {
                    @extend .span2;
                    height: 14px;
                    position: relative;
                    
                    .tray,
                    .fill {
                        @include border-radius(14px);
                        border: 1px solid $light-grey;
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;
                    }
                    
                    .tray {
                        background-color: #f0f0f0;
                        width: 100%;
                        z-index: 10;
                    }
                    
                    .fill {
                        background-color: #fff;
                        z-index: 20;
                    }
                    
                }
            }
        }
        
        &.am header { background-image: url('/images/global/logo-am.png'); }
        &.pm header { background-image: url('/images/global/logo-pm.png'); }
        
        h2 {
            font-size: 1.8em;
            line-height: 1.1em;
            margin: 0.8em 0;
        }
        
        p {
            line-height: 2em;
            margin: 1em 0;
            
            a {
                font-weight: bold;
            }
        }
        
        .bio-thumb {
            @include border-radius(3px);
            float: left;
            margin: 0.5em $gutter-width 0.5em 0;
        }
        
        .action {
            margin-top: 50px;
        }
        
        .host {
            font-weight: bold;
            margin: 0.5em 0;
        }
        
        a.rsvp,
        a.rsvp:hover {
            @include single-transition(background-color);
        }
        
        a.rsvp {
            @include border-radius(3px);
            color: #fff;
            display: block;
            font-size: 1.5em;
            line-height: 60px;
            text-align: center;
        }
        
        &.am {
            a.rsvp { background-color: $yellow; }
            a.rsvp:hover { background-color: darken($yellow, 15%); }
        }
        
        &.pm {
            a.rsvp { background-color: $blue; }
            a.rsvp:hover { background-color: darken($blue, 15%); }
        }
    }
    
    // Latest
    
    .latest {
        margin-left: ($column-width * 4) + ($gutter-width * 4);
        
        h3 {
            color: $yellow;
        }
        
        .twitter {
            background: url('/images/global/logo-twitter.png') 100% 50% no-repeat;
            display: inline-block;
            padding-right: 40px;
        }
        
        .posts {
            min-width: 700px;
            overflow-x: auto;
            
            .wrapper {
                white-space: nowrap;
            }
            
            li {
                @include single-transition(opacity);
                @include border-radius(3px);
                background-color: #fff;
                display: inline-block;
                height: 384px;
                padding: 12px;
                white-space: normal;
                width: 308px;
                
                &.off {
                    opacity: 0.5;
                }
                
                & + li {
                    margin-left: 10px;
                }
                
                .content {
                    display: table;
                    font-family: $open-sans-condensed;
                    font-size: 2em;
                    height: 308px;
                    line-height: 1.4em;
                    width: 308px;
                    
                    > .inner {
                        display: table-cell;
                        padding: 28px;
                        vertical-align: middle;
                    }
                }
                
                .time-ago {
                    color: $dark-grey;
                    font-size: 0.9em;
                    font-weight: bold;
                    line-height: 76px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
    }
}

/*
----------------------------------------------------
SPONSORS
----------------------------------------------------
*/

.sponsors {
    @extend .clearfix;
    border-bottom: 1px solid $light-grey;
    padding: 86px 0 76px;
    
    h4 {
        font-style: italic;
        font-weight: bold;
        margin-bottom: 1.8em;
    }
    
    h5 {
        margin-bottom: 20px;
        
        a {
            display: block;
        }
    }
    
    .instrument {
        @include replace-text-with-dimensions('global/logo-instrument.png');
    }
    
    .scribble-tone {
        @include replace-text-with-dimensions('global/logo-scribble-tone.gif');
    }
    
    p {
        line-height: 1.5em;
    }
}

/*
----------------------------------------------------
FOOTER
----------------------------------------------------
*/

footer.global {
    padding: 35px 0;
    
    .logo-row {
        margin-bottom: 50px;
    }
    
    .credits {
        font-size: 0.9em;
        text-align: center;
    }
}