/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../scss/_mixins.scss */
.row,
.master-column {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after,
.master-column:after {
  content: "";
  display: table;
  clear: both;
}

/* line 10, ../scss/_mixins.scss */
.col {
  float: left;
}

/* line 14, ../scss/_mixins.scss */
.col + .col {
  margin-left: 20px;
}

/* line 20, ../scss/_mixins.scss */
.master-column {
  margin: 0 auto;
  padding: 0 20px;
  width: 940px;
}

/* line 26, ../scss/_mixins.scss */
.master-column.fluid {
  min-width: 460px;
  max-width: 940px;
  width: auto;
}

/* line 33, ../scss/_mixins.scss */
.span1 {
  width: 60px;
}

/* line 33, ../scss/_mixins.scss */
.span2, .timeline .event header .countdown .bar {
  width: 140px;
}

/* line 33, ../scss/_mixins.scss */
.span3, .intro h3.am,
.intro h3.pm {
  width: 220px;
}

/* line 33, ../scss/_mixins.scss */
.span4 {
  width: 300px;
}

/* line 33, ../scss/_mixins.scss */
.span5 {
  width: 380px;
}

/* line 33, ../scss/_mixins.scss */
.span6 {
  width: 460px;
}

/* line 33, ../scss/_mixins.scss */
.span7 {
  width: 540px;
}

/* line 33, ../scss/_mixins.scss */
.span8 {
  width: 620px;
}

/* line 33, ../scss/_mixins.scss */
.span9 {
  width: 700px;
}

/* line 33, ../scss/_mixins.scss */
.span10 {
  width: 780px;
}

/* line 33, ../scss/_mixins.scss */
.span11 {
  width: 860px;
}

/* line 33, ../scss/_mixins.scss */
.span12 {
  width: 940px;
}

/*
----------------------------------------------------
HTML
----------------------------------------------------
*/
/* line 9, ../scss/global.scss */
body {
  background-color: #fff;
  color: #666666;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
}

/* line 17, ../scss/global.scss */
a {
  -webkit-transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: #666666;
  text-decoration: none;
}
/* line 22, ../scss/global.scss */
a:hover {
  color: #25aae1;
}

/*
----------------------------------------------------
GLOBAL
----------------------------------------------------
*/
/* line 33, ../scss/global.scss */
.clearfix, .logo-row, header.global, .intro, .timeline, .timeline > .inner-wrapper, .timeline .event, .timeline .event header .countdown, .sponsors {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after, .logo-row:after, header.global:after, .intro:after, .timeline:after, .timeline > .inner-wrapper:after, .timeline .event:after, .timeline .event header .countdown:after, .sponsors:after {
  content: "";
  display: table;
  clear: both;
}

/* line 37, ../scss/global.scss */
em.am {
  color: #fcb040;
}

/* line 38, ../scss/global.scss */
em.pm {
  color: #25aae1;
}

/*
----------------------------------------------------
HEADER
----------------------------------------------------
*/
/* line 46, ../scss/global.scss */
.logo-row {
  position: relative;
}
/* line 51, ../scss/global.scss */
.logo-row .logo,
.logo-row .logo-mini {
  margin: 0 auto;
}
/* line 56, ../scss/global.scss */
.logo-row .next-event,
.logo-row .twitter {
  position: absolute;
  font-style: italic;
  margin-top: -0.5em;
  top: 50%;
}
/* line 63, ../scss/global.scss */
.logo-row .next-event {
  left: 0;
}
/* line 65, ../scss/global.scss */
.logo-row .next-event em {
  font-weight: bold;
}
/* line 70, ../scss/global.scss */
.logo-row .twitter {
  right: 0;
}

/* line 75, ../scss/global.scss */
.logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/global/logo.png?1347579556');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 75px;
  height: 75px;
}

/* line 79, ../scss/global.scss */
.logo-mini {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/global/logo-mini.png?1347581127');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 41px;
  height: 41px;
}

/* line 83, ../scss/global.scss */
header.global {
  padding: 40px 0;
}
/* line 87, ../scss/global.scss */
header.global .logo-row {
  margin-bottom: 56px;
}
/* line 90, ../scss/global.scss */
header.global .logo-row em {
  display: block;
}

/* line 96, ../scss/global.scss */
.intro {
  text-align: center;
}
/* line 100, ../scss/global.scss */
.intro h2 {
  font-size: 2.85em;
  line-height: 1.4em;
  font-family: "Open Sans Condensed", Arial, sans-serif;
}
/* line 107, ../scss/global.scss */
.intro h3.am,
.intro h3.pm {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-position: 50% 40px;
  background-repeat: no-repeat;
  border: 1px solid #e9e9e9;
  font-size: 1.5em;
  font-weight: bold;
  height: 80px;
  margin-bottom: 0.85em;
  margin-top: 15px;
  padding: 116px 34px 20px;
  width: 150px;
}
/* line 122, ../scss/global.scss */
.intro h3.am small,
.intro h3.pm small {
  display: block;
  font-size: 12px;
  font-weight: normal;
  padding-top: 0.8em;
}
/* line 130, ../scss/global.scss */
.intro h3.am {
  background-image: url("/images/global/logo-am.png");
  float: left;
  margin-right: 40px;
}
/* line 136, ../scss/global.scss */
.intro h3.pm {
  background-image: url("/images/global/logo-pm.png");
  float: right;
  margin-left: 40px;
}
@media only screen and (max-width: 940px) {
  /* line 144, ../scss/global.scss */
  .intro h3.am,
  .intro h3.pm {
    display: none;
  }
}

/*
----------------------------------------------------
TIMELINE
----------------------------------------------------
*/
/* line 156, ../scss/global.scss */
.timeline {
  background: url("/images/background/crosshatch.gif") 50% 50% repeat;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  padding: 55px 0;
}
/* line 163, ../scss/global.scss */
.timeline > .inner-wrapper {
  margin-left: 50%;
}
/* line 167, ../scss/global.scss */
.timeline > .inner-wrapper > .inner {
  margin-left: -470px;
}
/* line 176, ../scss/global.scss */
.timeline .event time,
.timeline .latest h3,
.timeline .latest h4 {
  display: block;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  line-height: 1.4em;
}
/* line 183, ../scss/global.scss */
.timeline .event time.relative,
.timeline .latest h3 {
  font-size: 1.85em;
  font-style: italic;
}
/* line 189, ../scss/global.scss */
.timeline .event time.date,
.timeline .latest h4 {
  font-size: 2em;
  margin-bottom: 1.1em;
}
/* line 199, ../scss/global.scss */
.timeline .event + .event {
  margin-top: 50px;
}
/* line 203, ../scss/global.scss */
.timeline .event header {
  background-position: 165px 2px;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
/* line 211, ../scss/global.scss */
.timeline .event header .countdown h5 {
  float: right;
}
/* line 215, ../scss/global.scss */
.timeline .event header .countdown .bar {
  height: 14px;
  position: relative;
}
/* line 221, ../scss/global.scss */
.timeline .event header .countdown .bar .tray,
.timeline .event header .countdown .bar .fill {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #d7d7d7;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
/* line 230, ../scss/global.scss */
.timeline .event header .countdown .bar .tray {
  background-color: #f0f0f0;
  width: 100%;
  z-index: 10;
}
/* line 236, ../scss/global.scss */
.timeline .event header .countdown .bar .fill {
  background-color: #fff;
  z-index: 20;
}
/* line 245, ../scss/global.scss */
.timeline .event.am header {
  background-image: url("/images/global/logo-am.png");
}
/* line 246, ../scss/global.scss */
.timeline .event.pm header {
  background-image: url("/images/global/logo-pm.png");
}
/* line 248, ../scss/global.scss */
.timeline .event h2 {
  font-size: 1.8em;
  line-height: 1.1em;
  margin: 0.8em 0;
}
/* line 254, ../scss/global.scss */
.timeline .event p {
  line-height: 2em;
  margin: 1em 0;
}
/* line 258, ../scss/global.scss */
.timeline .event p a {
  font-weight: bold;
}
/* line 263, ../scss/global.scss */
.timeline .event .bio-thumb {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin: 0.5em 20px 0.5em 0;
}
/* line 269, ../scss/global.scss */
.timeline .event .action {
  margin-top: 50px;
}
/* line 273, ../scss/global.scss */
.timeline .event .host {
  font-weight: bold;
  margin: 0.5em 0;
}
/* line 279, ../scss/global.scss */
.timeline .event a.rsvp,
.timeline .event a.rsvp:hover {
  -webkit-transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* line 283, ../scss/global.scss */
.timeline .event a.rsvp {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 1.5em;
  line-height: 60px;
  text-align: center;
}
/* line 293, ../scss/global.scss */
.timeline .event.am a.rsvp {
  background-color: #fcb040;
}
/* line 294, ../scss/global.scss */
.timeline .event.am a.rsvp:hover {
  background-color: #ec8e04;
}
/* line 298, ../scss/global.scss */
.timeline .event.pm a.rsvp {
  background-color: #25aae1;
}
/* line 299, ../scss/global.scss */
.timeline .event.pm a.rsvp:hover {
  background-color: #167aa3;
}
/* line 305, ../scss/global.scss */
.timeline .latest {
  margin-left: 320px;
}
/* line 308, ../scss/global.scss */
.timeline .latest h3 {
  color: #fcb040;
}
/* line 312, ../scss/global.scss */
.timeline .latest .twitter {
  background: url("/images/global/logo-twitter.png") 100% 50% no-repeat;
  display: inline-block;
  padding-right: 40px;
}
/* line 318, ../scss/global.scss */
.timeline .latest .posts {
  min-width: 700px;
  overflow-x: auto;
}
/* line 322, ../scss/global.scss */
.timeline .latest .posts .wrapper {
  white-space: nowrap;
}
/* line 326, ../scss/global.scss */
.timeline .latest .posts li {
  -webkit-transition: opacity 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: opacity 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: opacity 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  display: inline-block;
  height: 384px;
  padding: 12px;
  white-space: normal;
  width: 308px;
}
/* line 336, ../scss/global.scss */
.timeline .latest .posts li.off {
  opacity: 0.5;
}
/* line 340, ../scss/global.scss */
.timeline .latest .posts li + li {
  margin-left: 10px;
}
/* line 344, ../scss/global.scss */
.timeline .latest .posts li .content {
  display: table;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-size: 2em;
  height: 308px;
  line-height: 1.4em;
  width: 308px;
}
/* line 352, ../scss/global.scss */
.timeline .latest .posts li .content > .inner {
  display: table-cell;
  padding: 28px;
  vertical-align: middle;
}
/* line 359, ../scss/global.scss */
.timeline .latest .posts li .time-ago {
  color: #333333;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 76px;
  text-transform: uppercase;
  text-align: center;
}

/*
----------------------------------------------------
SPONSORS
----------------------------------------------------
*/
/* line 378, ../scss/global.scss */
.sponsors {
  border-bottom: 1px solid #d7d7d7;
  padding: 86px 0 76px;
}
/* line 383, ../scss/global.scss */
.sponsors h4 {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1.8em;
}
/* line 389, ../scss/global.scss */
.sponsors h5 {
  margin-bottom: 20px;
}
/* line 392, ../scss/global.scss */
.sponsors h5 a {
  display: block;
}
/* line 397, ../scss/global.scss */
.sponsors .instrument {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/global/logo-instrument.png?1347580790');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 144px;
  height: 21px;
}
/* line 401, ../scss/global.scss */
.sponsors .scribble-tone {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/global/logo-scribble-tone.gif?1347580712');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 122px;
  height: 23px;
}
/* line 405, ../scss/global.scss */
.sponsors p {
  line-height: 1.5em;
}

/*
----------------------------------------------------
FOOTER
----------------------------------------------------
*/
/* line 416, ../scss/global.scss */
footer.global {
  padding: 35px 0;
}
/* line 419, ../scss/global.scss */
footer.global .logo-row {
  margin-bottom: 50px;
}
/* line 423, ../scss/global.scss */
footer.global .credits {
  font-size: 0.9em;
  text-align: center;
}
