/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../scss/_mixins.scss */
.row,
.master-column {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after,
.master-column:after {
  content: "";
  display: table;
  clear: both;
}

/* line 16, ../scss/_mixins.scss */
.col, .event {
  float: left;
}

/* line 20, ../scss/_mixins.scss */
.col + .col, .event + .col, .col + .event, .event + .event {
  margin-left: 20px;
}

/* line 26, ../scss/_mixins.scss */
.master-column {
  margin: 0 auto;
  padding: 0 40px;
  min-width: 460px;
  max-width: 940px;
}

/* line 34, ../scss/_mixins.scss */
.master-column.fluid {
  min-width: 460px;
  max-width: 940px;
  width: auto;
}

/* line 41, ../scss/_mixins.scss */
.span1 {
  width: 60px;
}

/* line 41, ../scss/_mixins.scss */
.span2 {
  width: 140px;
}

/* line 41, ../scss/_mixins.scss */
.span3, .intro a.am,
.intro a.pm {
  width: 220px;
}

/* line 41, ../scss/_mixins.scss */
.span4 {
  width: 300px;
}

/* line 41, ../scss/_mixins.scss */
.span5, .event {
  width: 380px;
}

/* line 41, ../scss/_mixins.scss */
.span6 {
  width: 460px;
}

/* line 41, ../scss/_mixins.scss */
.span7 {
  width: 540px;
}

/* line 41, ../scss/_mixins.scss */
.span8 {
  width: 620px;
}

/* line 41, ../scss/_mixins.scss */
.span9 {
  width: 700px;
}

/* line 41, ../scss/_mixins.scss */
.span10 {
  width: 780px;
}

/* line 41, ../scss/_mixins.scss */
.span11 {
  width: 860px;
}

/* line 41, ../scss/_mixins.scss */
.span12 {
  width: 940px;
}

/*
----------------------------------------------------
HTML
----------------------------------------------------
*/
/* line 9, ../scss/global.scss */
body {
  background-color: #fff;
  color: #666666;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
}

/* line 17, ../scss/global.scss */
a {
  -webkit-transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: #666666;
  text-decoration: none;
}
/* line 22, ../scss/global.scss */
a:hover {
  color: #25aae1;
}

/*
----------------------------------------------------
GLOBAL
----------------------------------------------------
*/
/* line 33, ../scss/global.scss */
.clearfix, .logo-row, header.global, .intro, .timeline, .event, .event header .countdown, .latest > .inner-wrapper, .sponsors {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after, .logo-row:after, header.global:after, .intro:after, .timeline:after, .event:after, .event header .countdown:after, .latest > .inner-wrapper:after, .sponsors:after {
  content: "";
  display: table;
  clear: both;
}

/* line 37, ../scss/global.scss */
em.am {
  color: #fcb040;
}

/* line 38, ../scss/global.scss */
em.pm {
  color: #25aae1;
}

/*
----------------------------------------------------
HEADER
----------------------------------------------------
*/
/* line 46, ../scss/global.scss */
.logo-row {
  position: relative;
}
/* line 51, ../scss/global.scss */
.logo-row .logo,
.logo-row .logo-mini {
  margin: 0 auto;
}
/* line 56, ../scss/global.scss */
.logo-row .next-event,
.logo-row .twitter {
  position: absolute;
  font-style: italic;
  margin-top: -0.5em;
  top: 50%;
}
/* line 63, ../scss/global.scss */
.logo-row .next-event {
  left: 0;
}
/* line 65, ../scss/global.scss */
.logo-row .next-event em {
  font-weight: bold;
}
/* line 70, ../scss/global.scss */
.logo-row .twitter {
  right: 0;
}

/* line 75, ../scss/global.scss */
.logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/global/logo.png?1347579556');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 75px;
  height: 75px;
}

/* line 79, ../scss/global.scss */
.logo-mini {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/global/logo-mini.png?1347581127');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 41px;
  height: 41px;
}

/* line 83, ../scss/global.scss */
header.global {
  padding: 40px 0;
}
/* line 87, ../scss/global.scss */
header.global .logo-row {
  margin-bottom: 56px;
}
/* line 90, ../scss/global.scss */
header.global .logo-row em {
  display: block;
}

@media only screen and (max-width: 1020px) {
  /* line 99, ../scss/global.scss */
  .global .next-event,
  .global .twitter {
    display: none;
  }
}
@-moz-keyframes bouncy {
  /* line 108, ../scss/global.scss */
  0% {
    -moz-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }

  /* line 112, ../scss/global.scss */
  75% {
    -moz-transform: scale(0.85, 0.85) rotate(10deg);
    transform: scale(0.85, 0.85) rotate(10deg);
  }

  /* line 116, ../scss/global.scss */
  100% {
    -moz-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
}

@-webkit-keyframes bouncy {
  /* line 108, ../scss/global.scss */
  0% {
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }

  /* line 112, ../scss/global.scss */
  75% {
    -webkit-transform: scale(0.85, 0.85) rotate(10deg);
    transform: scale(0.85, 0.85) rotate(10deg);
  }

  /* line 116, ../scss/global.scss */
  100% {
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
}

@-o-keyframes bouncy {
  /* line 108, ../scss/global.scss */
  0% {
    -o-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }

  /* line 112, ../scss/global.scss */
  75% {
    -o-transform: scale(0.85, 0.85) rotate(10deg);
    transform: scale(0.85, 0.85) rotate(10deg);
  }

  /* line 116, ../scss/global.scss */
  100% {
    -o-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
}

@-ms-keyframes bouncy {
  /* line 108, ../scss/global.scss */
  0% {
    -ms-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }

  /* line 112, ../scss/global.scss */
  75% {
    -ms-transform: scale(0.85, 0.85) rotate(10deg);
    transform: scale(0.85, 0.85) rotate(10deg);
  }

  /* line 116, ../scss/global.scss */
  100% {
    -ms-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
}

@keyframes bouncy {
  /* line 108, ../scss/global.scss */
  0% {
    transform: scale(1, 1) rotate(0deg);
  }

  /* line 112, ../scss/global.scss */
  75% {
    transform: scale(0.85, 0.85) rotate(10deg);
  }

  /* line 116, ../scss/global.scss */
  100% {
    transform: scale(1, 1) rotate(0deg);
  }
}

/* line 121, ../scss/global.scss */
.intro {
  text-align: center;
}
/* line 125, ../scss/global.scss */
.intro h2 {
  font-size: 2.85em;
  line-height: 1.4em;
  font-family: "Open Sans Condensed", Arial, sans-serif;
}
/* line 132, ../scss/global.scss */
.intro a.am,
.intro a.pm {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: border-color 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: border-color 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: border-color 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: border-color 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background-position: 50% 40px;
  background-repeat: no-repeat;
  border: 1px solid #e9e9e9;
  font-size: 1.5em;
  font-weight: bold;
  height: 140px;
  margin-bottom: 0.85em;
  margin-top: 15px;
  padding: 40px 34px 20px;
  width: 150px;
}
/* line 148, ../scss/global.scss */
.intro a.am small,
.intro a.pm small {
  display: block;
  font-size: 12px;
  font-weight: normal;
  padding-top: 0.8em;
}
/* line 155, ../scss/global.scss */
.intro a.am .icon,
.intro a.pm .icon {
  display: block;
  margin: 0 auto 20px;
}
/* line 160, ../scss/global.scss */
.intro a.am:hover,
.intro a.pm:hover {
  border-color: #666666;
  color: #666666;
}
/* line 164, ../scss/global.scss */
.intro a.am:hover .icon,
.intro a.pm:hover .icon {
  -webkit-animation: bouncy 500ms 1;
  -moz-animation: bouncy 500ms 1;
  -ms-animation: bouncy 500ms 1;
  -o-animation: bouncy 500ms 1;
  animation: bouncy 500ms 1;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* line 172, ../scss/global.scss */
.intro a.am {
  float: left;
  margin-right: 40px;
}
/* line 177, ../scss/global.scss */
.intro a.pm {
  float: right;
  margin-left: 40px;
}
@media only screen and (max-width: 1020px) {
  /* line 184, ../scss/global.scss */
  .intro a.am,
  .intro a.pm {
    display: none;
  }
}

/*
----------------------------------------------------
TIMELINE
----------------------------------------------------
*/
/* line 196, ../scss/global.scss */
.timeline {
  background: url("/images/background/crosshatch.gif") 50% 50% repeat;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  padding: 0 40px;
}

/* line 208, ../scss/global.scss */
.event time,
.latest h3,
.latest h4 {
  display: block;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  line-height: 1.4em;
}

/* line 215, ../scss/global.scss */
.event time.relative,
.latest h3 {
  font-size: 1.85em;
  font-style: italic;
}

/* line 221, ../scss/global.scss */
.event time.date,
.latest h4 {
  font-size: 2em;
  margin-bottom: 1.1em;
}

/* line 229, ../scss/global.scss */
.bar,
.mCSB_horizontal .mCSB_scrollTools {
  height: 14px;
  position: relative;
}
/* line 236, ../scss/global.scss */
.bar .tray,
.bar .fill,
.bar .mCSB_dragger,
.bar .mCSB_draggerRail,
.mCSB_horizontal .mCSB_scrollTools .tray,
.mCSB_horizontal .mCSB_scrollTools .fill,
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger,
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #d7d7d7;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
}
/* line 246, ../scss/global.scss */
.bar .tray,
.bar .mCSB_draggerRail,
.mCSB_horizontal .mCSB_scrollTools .tray,
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f0f0f0;
  margin: 0;
  width: 100%;
  z-index: 10;
}
/* line 254, ../scss/global.scss */
.bar .fill,
.bar .mCSB_dragger,
.mCSB_horizontal .mCSB_scrollTools .fill,
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger {
  background-color: #fff;
  z-index: 20;
}

/* line 261, ../scss/global.scss */
.mCSB_horizontal.mCustomScrollBox .mCSB_container {
  margin-top: 51px;
}
/* line 265, ../scss/global.scss */
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {
  position: absolute;
  top: 0;
}
/* line 269, ../scss/global.scss */
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer {
  width: 940px;
}
/* line 273, ../scss/global.scss */
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerRail {
  width: 938px;
}

/* line 281, ../scss/global.scss */
.events {
  padding: 0;
}

/* line 285, ../scss/global.scss */
.event {
  padding: 50px 0;
}
/* line 292, ../scss/global.scss */
.event + .event {
  margin-left: 180px;
}
/* line 296, ../scss/global.scss */
.event header {
  background-position: 165px 2px;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
/* line 304, ../scss/global.scss */
.event header .countdown .bar {
  margin-right: 100px;
}
/* line 308, ../scss/global.scss */
.event header .countdown h5 {
  float: right;
}
/* line 314, ../scss/global.scss */
.event.am header {
  background-image: url("/images/global/logo-am.png");
}
/* line 315, ../scss/global.scss */
.event.pm header {
  background-image: url("/images/global/logo-pm.png");
}
/* line 317, ../scss/global.scss */
.event h2 {
  font-size: 1.8em;
  line-height: 1.1em;
  margin: 0.8em 0;
}
/* line 323, ../scss/global.scss */
.event p {
  line-height: 2em;
  margin: 1em 0;
}
/* line 327, ../scss/global.scss */
.event p a {
  font-weight: bold;
}
/* line 332, ../scss/global.scss */
.event .bio-thumb {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin: 0.5em 20px 0.5em 0;
}
/* line 338, ../scss/global.scss */
.event .action {
  margin-top: 50px;
}
/* line 342, ../scss/global.scss */
.event .host {
  font-weight: bold;
  margin: 0.5em 0;
}
/* line 348, ../scss/global.scss */
.event a.rsvp,
.event a.rsvp:hover {
  -webkit-transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* line 352, ../scss/global.scss */
.event a.rsvp {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 1.5em;
  line-height: 60px;
  text-align: center;
  width: 75%;
}
/* line 363, ../scss/global.scss */
.event.am a.rsvp {
  background-color: #fcb040;
}
/* line 364, ../scss/global.scss */
.event.am a.rsvp:hover {
  background-color: #ec8e04;
}
/* line 368, ../scss/global.scss */
.event.pm a.rsvp {
  background-color: #25aae1;
}
/* line 369, ../scss/global.scss */
.event.pm a.rsvp:hover {
  background-color: #167aa3;
}

@media only screen and (max-width: 1020px) {
  /* line 374, ../scss/global.scss */
  .event {
    float: none;
    width: auto;
  }
  /* line 378, ../scss/global.scss */
  .event header {
    background-position: 0 2px;
  }
  /* line 381, ../scss/global.scss */
  .event header time {
    padding-left: 70px;
  }
  /* line 386, ../scss/global.scss */
  .event + .event {
    margin-left: 0;
    padding-top: 25px;
  }
  /* line 391, ../scss/global.scss */
  .event a.rsvp {
    width: auto;
  }
}
/* line 401, ../scss/global.scss */
.latest > .inner-wrapper {
  margin-left: 50%;
}
/* line 405, ../scss/global.scss */
.latest > .inner-wrapper > .inner {
  margin-left: -470px;
}
/* line 410, ../scss/global.scss */
.latest h3 {
  color: #fcb040;
}
/* line 414, ../scss/global.scss */
.latest .twitter {
  background: url("/images/global/logo-twitter.png") 100% 50% no-repeat;
  display: inline-block;
  padding-right: 40px;
}
/* line 420, ../scss/global.scss */
.latest .posts {
  min-width: 700px;
  overflow-x: auto;
}
/* line 424, ../scss/global.scss */
.latest .posts .wrapper {
  white-space: nowrap;
}
/* line 428, ../scss/global.scss */
.latest .posts li {
  -webkit-transition: opacity 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: opacity 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: opacity 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  display: inline-block;
  height: 384px;
  padding: 12px;
  white-space: normal;
  width: 308px;
  /*
  &.off {
      opacity: 0.5;
  }
  */
}
/* line 444, ../scss/global.scss */
.latest .posts li + li {
  margin-left: 10px;
}
/* line 448, ../scss/global.scss */
.latest .posts li .content {
  display: table;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-size: 2em;
  height: 308px;
  line-height: 1.4em;
  width: 308px;
}
/* line 456, ../scss/global.scss */
.latest .posts li .content > .inner {
  display: table-cell;
  padding: 28px;
  vertical-align: middle;
}
/* line 463, ../scss/global.scss */
.latest .posts li.image .content {
  background-color: #000;
}
/* line 466, ../scss/global.scss */
.latest .posts li.image .content > .inner {
  padding: 0;
}
/* line 470, ../scss/global.scss */
.latest .posts li.image .content img {
  width: 100%;
}
/* line 475, ../scss/global.scss */
.latest .posts li .time-ago {
  color: #333333;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 76px;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 1020px) {
  /* line 489, ../scss/global.scss */
  .latest > .inner-wrapper {
    margin-left: 0%;
  }
  /* line 492, ../scss/global.scss */
  .latest > .inner-wrapper > .inner {
    margin-left: 0;
  }
}
/*
----------------------------------------------------
SPONSORS
----------------------------------------------------
*/
/* line 505, ../scss/global.scss */
.sponsors {
  border-bottom: 1px solid #d7d7d7;
  padding: 86px 0 76px;
}
/* line 510, ../scss/global.scss */
.sponsors h4 {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1.8em;
}
/* line 516, ../scss/global.scss */
.sponsors h5 {
  margin-bottom: 20px;
}
/* line 519, ../scss/global.scss */
.sponsors h5 a {
  display: block;
}
/* line 524, ../scss/global.scss */
.sponsors .instrument {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/global/logo-instrument.png?1347580790');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 144px;
  height: 21px;
}
/* line 528, ../scss/global.scss */
.sponsors .scribble-tone {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/global/logo-scribble-tone.gif?1347580712');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 122px;
  height: 23px;
}
/* line 532, ../scss/global.scss */
.sponsors p {
  line-height: 1.5em;
}

@media only screen and (max-width: 1020px) {
  /* line 538, ../scss/global.scss */
  .sponsors {
    padding: 50px 0;
  }
  /* line 541, ../scss/global.scss */
  .sponsors .col, .sponsors .event {
    float: none;
    margin-left: 0;
    width: auto;
  }
  /* line 546, ../scss/global.scss */
  .sponsors .col + .col, .sponsors .event + .col, .sponsors .col + .event, .sponsors .event + .event {
    margin-top: 40px;
  }
}
/*
----------------------------------------------------
FOOTER
----------------------------------------------------
*/
/* line 559, ../scss/global.scss */
footer.global {
  padding: 35px 0;
}
/* line 562, ../scss/global.scss */
footer.global .logo-row {
  margin-bottom: 50px;
}
/* line 566, ../scss/global.scss */
footer.global .credits {
  font-size: 0.9em;
  text-align: center;
}
